@import url(https://fonts.googleapis.com/css?family=Nunito:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  box-sizing: border-box;
}

:root {
  --bg-color: #fcfcfc;
  --text-color: #040404;
  --primary-color: #790050;
  --secondary-color: purple;
  --default-font-size: 16px;
  --font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--default-font-size);
  overflow-x: hidden;
  background-color: #222;
  position: relative;
}

.container {
  background-color: #fafafa;
  padding: 5rem;
  z-index: 2;
  position: relative;
  transform-origin: top left;
  transition: transform 0.5s;
  width: 100%;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

a {
  font-size: 0.8rem;
  display: block;
  margin-bottom: 3px;
}

a:link,
a:visited {
  color: var(--primary-color);
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  color: white;
  z-index: 1;
}

nav ul {
  list-style: none;
}

li {
  text-transform: uppercase;
  color: white;
  margin: 40px 0;
  transform: translate(-200px);
  transition: transform 0.4s ease-in;
}

li:nth-child(2) {
  margin-left: 15px;
}
li:nth-child(3) {
  margin-left: 30px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition: transform 0.4s ease-in 0.4s;
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: var(--primary-color);
  border-radius: 100px;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  position: absolute;
  top: 45%;
  left: 60%;
  line-height: 100px;
  background: transparent;
  border: 0;
  color: rgb(248, 167, 235);
  font-size: 24px;
  cursor: pointer;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}
