.container {
  display: flex;
  width: 80%;
  height: 80vh;
  align-items: stretch;
  margin: 0 auto;
  justify-content: space-around;
}

.container :nth-child(1) {
  background-image: url("img/1.jpg");
}
.container :nth-child(2) {
  background-image: url("img/2.jpeg");
}
.container :nth-child(3) {
  background-image: url("img/3.jpeg");
}
.container :nth-child(4) {
  background-image: url("img/4.jpeg");
}
.container :nth-child(5) {
  background-image: url("img/5.jpeg");
}

.slide {
  flex: 1;
  border-radius: 20;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  -ms-border-radius: 20;
  -o-border-radius: 20;
  background-position: center center;
}
